:root {
    --a:#ffcb5a;
    --b:#ffffff;
    --c:#93caa6;
    --d:#488bc1;
    --e:#2d41a3;
}

body {
    
    background-image: linear-gradient(to right, #ffffff, #ffcb5a);
    font-style: var(--b);

}

#header  {
    background-color: var(--e);
    color: var(--d);
    padding: 25px;
}
 
.lead {
    color: var(--a);
}
/* .container {
    background-color:  red;
} */

button {
    background-color: #2d41a3;
}