:root {
    --a:#e0c281;
    --b:#ffffff;
    --c:#93caa6;
    --d:#488bc1;
    --e:#2d41a3;
}

body {
    
    background-image: linear-gradient(to right, #ffffff, #93caa6);
    font-style: var(--b);

}

#header  {
    background-color: #488bc1;
    color: var(--b)

}

/* .container {
    background-color:  red;
} */